Flask==2.3.3
Flask-CORS==6.0.0
Flask-SQLAlchemy==3.0.5
Flask-Migrate==4.0.5
Flask-JWT-Extended==4.5.3
requests==2.32.4
psycopg2-binary==2.9.7
python-dotenv==1.0.0
marshmallow==3.26.2
flask-marshmallow==0.15.0
marshmallow-sqlalchemy==0.29.0
celery==5.3.1
redis==4.6.0
gunicorn==23.0.0
cryptography==44.0.1
